@import 'variables.less';

html,body
{
    height: 100%;
    width: 100%;
    position: relative;
}

/***************************
   Text Inputs + Textarea
****************************/
.input-field {
  position: relative;
  margin-top: 1rem; }
  .input-field label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0.75rem;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out; }
  .input-field label.active {
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    transform: translateY(-140%); }
  .input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=url]:focus + label, .input-field input[type=date]:focus + label, .input-field input[type=tel]:focus + label, .input-field input[type=number]:focus + label, .input-field input[type=search]:focus + label, .input-field textarea:focus.materialize-textarea + label {
    color: #26a69a; }
  .input-field input[type=text].valid, .input-field input[type=password].valid, .input-field input[type=email].valid, .input-field input[type=url].valid, .input-field input[type=date].valid, .input-field input[type=tel].valid, .input-field input[type=number].valid, .input-field input[type=search].valid, .input-field textarea.materialize-textarea.valid {
    border-bottom: 1px solid #4CAF50;
    -webkit-box-shadow: 0 1px 0 0 #4CAF50;
    -moz-box-shadow: 0 1px 0 0 #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50; }
  .input-field input[type=text].invalid, .input-field input[type=password].invalid, .input-field input[type=email].invalid, .input-field input[type=url].invalid, .input-field input[type=date].invalid, .input-field input[type=tel].invalid, .input-field input[type=number].invalid, .input-field input[type=search].invalid, .input-field textarea.materialize-textarea.invalid {
    border-bottom: 1px solid #F44336;
    -webkit-box-shadow: 0 1px 0 0 #F44336;
    -moz-box-shadow: 0 1px 0 0 #F44336;
    box-shadow: 0 1px 0 0 #F44336; }
  .input-field .prefix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -ms-transition: color 0.2s;
    transition: color 0.2s; }
    .input-field .prefix.active {
      color: #26a69a; }
  .input-field .prefix ~ input, .input-field .prefix ~ textarea {
    margin-left: 3rem;
    width: 92%;
    /*width: calc(100% - 3rem);*/ }
  .input-field .prefix ~ textarea {
    padding-top: 0.8rem; }
  .input-field .prefix ~ label {
    margin-left: 3rem; }
  /*@media only screen and (max-width : 992px) {
    .input-field .prefix ~ input {
      width: 86%;
      width: calc(100% - 3rem); }
 }*/
  /*@media only screen and (max-width : 600px) {
    .input-field .prefix ~ input {
      width: 80%;
      width: calc(100% - 3rem); }
 }*/

textarea {
  width: 100%;
  height: 3rem;
  background-color: transparent; }

input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s; }

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=date]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus.materialize-textarea {
  border-bottom: 1px solid #26a69a;
  -webkit-box-shadow: 0 1px 0 0 #26a69a;
  -moz-box-shadow: 0 1px 0 0 #26a69a;
  box-shadow: 0 1px 0 0 #26a69a; }

textarea.materialize-textarea {
  overflow-y: hidden;
  /* prevents scroll bar flash */
  padding: 1.6rem 0;
  /* prevents text jump on Enter keypress */
  resize: none;
  min-height: 3rem; }

.hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* future version of deprecated 'word-wrap' */
  padding-top: 1.2rem;
  /* prevents text jump on Enter keypress */ }

  /***************
   Checkboxes
***************/
/* CUSTOM CSS CHECKBOXES */
form p {
  margin-bottom: 10px;
  text-align: left; }

form p:last-child {
  margin-bottom: 0px; }

/* Remove default checkbox */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }

[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */ }

/* checkbox aspect */
[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  margin-top: 2px;
  left: 0;
  z-index: 0;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background-clip: padding-box;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s; }

/* Unchecked styles */
[type="checkbox"]:not(:checked) + label:before {
  top: 0px;
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff; }

/* Checked styles */
[type="checkbox"]:checked + label:before {
  left: -3px;
  top: -4px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid @primary-color;
  border-bottom: 2px solid @primary-color;
  -webkit-transform: rotateZ(40deg);
  -moz-transform: rotateZ(40deg);
  -ms-transform: rotateZ(40deg);
  -o-transform: rotateZ(40deg);
  transform: rotateZ(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before {
  top: 0;
  left: 0;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.26);
  width: 18px;
  height: 18px;
  border: 2px solid rgba(0, 0, 0, 0.26);
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transform: rotateZ(0deg); }

[type="checkbox"]:disabled:checked + label:before {
  left: -3px;
  top: -4px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid rgba(0, 0, 0, 0.26);
  border-bottom: 2px solid rgba(0, 0, 0, 0.26);
  -webkit-transform: rotateZ(40deg);
  -moz-transform: rotateZ(40deg);
  -ms-transform: rotateZ(40deg);
  -o-transform: rotateZ(40deg);
  transform: rotateZ(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

[type="checkbox"]:disabled:checked + label {
  color: rgba(0, 0, 0, 0.26); }

[type="checkbox"]:disabled:not(:checked) + label:hover:before {
  border-color: rgba(0, 0, 0, 0.26); }

.signup_wrapper
{
    background: url(../images/lock.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    background-repeat: no-repeat;   
    /* background setup */
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;
    .right_block
    {
        position: fixed;
        max-width: 600px;
        right: 0;
        background: rgba(0,9,22,0.8);
        padding:0px 40px;
        height: 100%;
        overflow-y: auto;
        overflow-x:hidden;
        .signup-heading
        {
            font-size: 20px;
            font-family: @main-font;
            text-transform: uppercase;
            color: #ffffff;
            margin-top: 20%;
            margin-bottom: 50px;
            text-align: center;
        }
        a 
        {
            color: #ffffff;
            text-decoration: none;
        }
        .input-field label {
            color: #ffffff;  
            backface-visibility: hidden;
        } 
        .input-field input
        {
            color: #ffffff;  
        }
        i.prefix
        {
            color: #ffffff;
            backface-visibility: hidden;
            font-size: 30px;
            text-align: center;
            padding-right: 20px;
            &.active
            {
                color: @primary-color !important;
            }
        }
        .input-field label {
            color: #ffffff;     
        }
        
        .input-field input[type=text]:focus + label,.input-field input[type=password]:focus + label,.input-field input[type=email]:focus + label {
            color: #ffffff;
        }
        
        .input-field input[type=text]:focus,.input-field input[type=password]:focus,.input-field input[type=email]:focus {
            border-bottom: 1px solid @primary-color;
            box-shadow: 0 1px 0 0 @primary-color;
        }
        
        .input-field input[type=text].valid,.input-field input[type=password].valid,.input-field input[type=email].valid {
            border-bottom: 1px solid @flatGreen;
            box-shadow: 0 1px 0 0 @flatGreen;
        }
        
        .input-field input[type=text].invalid,.input-field input[type=password].invalid,.input-field input[type=email].invalid {
            border-bottom: 1px solid @flatRed;
            box-shadow: 0 1px 0 0 @flatRed;
        }
        
        .input-field .prefix.active {
            color: #000;
        }
        .btn-primary {
            margin-top: 50px;
            line-height: 30px;
            font-size: 16px;
            margin-bottom: 20px;
        }
        input[type="checkbox"] + label span
        {
            display: inline;
        }
        .Cropper-check
        {
            margin-top: 30px;
            label
            {
                color: #ffffff;
            }
        }
    }


}




@media (max-width : 530px) 
{
  .signin_wrapper 
  {    
    
    .overlay_block
    {
      padding: 0;                  
    }
    #clockbox
    {
      margin-top: 10px !important;
    }
    
  }
}