<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Byadmin - Bootstrap 3 Responsive Admin Template">
        <meta name="author" content="Bylancer">
        <meta name="keyword" content="Byadmin, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
        <link rel="shortcut icon" href="{{ asset('main/img/favicon.png') }}">
        <title>{% block title %}Quizz App!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="{{ asset('main/css/bootstrap.min.css') }}">
            <!-- bootstrap theme -->
            <link href="{{ asset('main/css/bootstrap-theme.css') }}" rel="stylesheet">
            <!--external css-->

            <!-- font icon -->
            <link  href="{{ asset('main/css/elegant-icons-style.css') }}" rel="stylesheet" />
            <link href="{{ asset('main/assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
            <link href="{{ asset('main/css/font-awesome.css') }}" rel="stylesheet" />
            <!-- full calendar css-->
            <link href="{{ asset('main/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css') }}" rel="stylesheet" />
            <!-- morris chart css-->
            <link href="{{ asset('main/assets/morris.js-0.4.3/morris.css') }}" rel="stylesheet" />
            <link href="{{ asset('main/css/flexslider.css') }}" rel="stylesheet" type="text/css" media="screen" />
            <!-- Custom styles -->
            <link href="{{ asset('main/css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('main/css/style-responsive.css') }}" rel="stylesheet" />

            <!--Animation css-->
            <link href="{{ asset('main/css/animate.min.css') }}" rel="stylesheet">

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
            <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
            <script src="js/respond.min.js"></script>
            <script src="js/lte-ie7.js"></script>
            <![endif]-->

        {% endblock %}
        
        <!-- favicon du projet -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <!-- container section start -->
        <section id="container" class="">
                <!--header start-->
            <header class="header white-bg">
                <div class="toggle-nav">
                    <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
                </div>

                <!--logo start-->
                <a href="{{ path('oolink_dashboard') }}" class="logo">By<span> OOLINK</span></a>
                <!--logo end-->

                <div class="nav search-row" id="top_menu">
                    <!--  search form start -->
                    <ul class="nav top-menu">
                        <li>
                            <form class="navbar-form">
                                <input class="form-control" placeholder="Recherche" type="text">
                            </form>
                        </li>
                    </ul>
                    <!--  search form end -->
                </div>
                <div class="top-nav notification-row">
                    <!-- notificatoin dropdown start-->
                    <ul class="nav pull-right top-menu">
                        <!-- task notificatoin start -->
                        <li id="task_notificatoin_bar" class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="icon-task-l"></span>
                                <span class="badge bg-info">5</span>
                            </a>
                            <ul class="dropdown-menu extended tasks-bar animated fadeInUp">
                                <div class="notify-arrow notify-arrow-blue"></div>
                                <li>
                                    <p class="blue">You have <span class="bold">5 pending</span> tasks</p>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <div class="desc">Design PSD </div>
                                            <div class="percent">90%</div>
                                        </div>
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                                <span class="sr-only">90% Complete (success)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <div class="desc">
                                                Project 1
                                            </div>
                                            <div class="percent">30%</div>
                                        </div>
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                                <span class="sr-only">30% Complete (warning)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <div class="desc">Digital Marketing</div>
                                            <div class="percent">80%</div>
                                        </div>
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                <span class="sr-only">80% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <div class="desc">Logo Designing</div>
                                            <div class="percent">78%</div>
                                        </div>
                                        <div class="progress progress-striped">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                                                <span class="sr-only">78% Complete (danger)</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="task-info">
                                            <div class="desc">Mobile App</div>
                                            <div class="percent">50%</div>
                                        </div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar"  role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>

                                    </a>
                                </li>
                                <li class="external">
                                    <a href="#">See All Tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- task notificatoin end -->
                        <!-- inbox notificatoin start-->
                        <li id="mail_notificatoin_bar" class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="icon-envelope-l"></i>
                                <span class="badge bg-important">5</span>
                            </a>
                            <ul class="dropdown-menu extended inbox animated fadeInUp">
                                <div class="notify-arrow notify-arrow-blue"></div>
                                <li>
                                    <p class="blue">You have <span class="bold">5 new</span> messages</p>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="photo"><img alt="avatar" src="{{ asset('main/img/avatar-mini.jpg') }}"></span>
                                            <span class="subject">
                                            <span class="from">Greg  Martin</span>
                                            <span class="time">1 min</span>
                                            </span>
                                            <span class="message">
                                                I really like this admin panel.
                                            </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="photo"><img alt="avatar" src="{{ asset('main/img/avatar-mini2.jpg') }}"></span>
                                            <span class="subject">
                                            <span class="from">Bob   Mckenzie</span>
                                            <span class="time">5 mins</span>
                                            </span>
                                            <span class="message">
                                             Hi, What is next project plan?
                                            </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="photo"><img alt="avatar" src="{{ asset('main/img/avatar-mini3.jpg') }}"></span>
                                            <span class="subject">
                                            <span class="from">Phillip   Park</span>
                                            <span class="time">2 hrs</span>
                                            </span>
                                            <span class="message">
                                                I am like to buy this Admin Template.
                                            </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="photo"><img alt="avatar" src="{{ asset('main/img/avatar-mini4.jpg') }}"></span>
                                            <span class="subject">
                                            <span class="from">Ray   Munoz</span>
                                            <span class="time">1 day</span>
                                            </span>
                                            <span class="message">
                                                Icon fonts are great.
                                            </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">See all messages</a>
                                </li>
                            </ul>
                        </li>
                        <!-- inbox notificatoin end -->
                        <!-- alert notification start-->
                        <li id="alert_notificatoin_bar" class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                                <i class="icon-bell-l"></i>
                                <span class="badge bg-warning">7</span>
                            </a>
                            <ul class="dropdown-menu extended notification animated fadeInUp">
                                <div class="notify-arrow notify-arrow-blue"></div>
                                <li>
                                    <p class="blue">You have <span class="bold">4 new</span> notifications</p>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-primary"><i class="icon_profile"></i></span>
                                        Friend Request
                                        <span class="small italic pull-right">5 mins</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-warning"><i class="icon_pin"></i></span>
                                        John location.
                                        <span class="small italic pull-right">50 mins</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-danger"><i class="icon_book_alt"></i></span>
                                        Project 3 Completed.
                                        <span class="small italic pull-right">1 hr</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="label label-success"><i class="icon_like"></i></span>
                                        Mick appreciated your work.
                                        <span class="small italic pull-right"> Today</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">See all notifications</a>
                                </li>
                            </ul>
                        </li>
                        <!-- alert notification end-->
                        <!-- user login dropdown start-->
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="profile-ava">
                                        <img alt="" src="{{ asset('main/img/avatar1_small.jpg') }}">
                                    </span>
                                <span class="username">New User</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu extended logout animated fadeInUp">
                                <div class="notify-arrow notify-arrow-blue"></div>
                                <li class="eborder-top">
                                    <a href="#"><i class="icon_profile"></i> Mon compte</a>
                                </li>
                                <!-- <li>
                                    <a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon_clock_alt"></i> Timeline</a>
                                </li> 
                                <li>
                                    <a href="#"><i class="icon_chat_alt"></i> Chats</a>
                                </li>-->
                                <li>
                                    <a href="login.html"><i class="icon_key_alt"></i> Se deconnecter</a>
                                </li>
                                <!-- <li>
                                    <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
                                </li>
                                <li>
                                    <a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
                                </li> -->
                            </ul>
                        </li>
                        <!-- user login dropdown end -->
                    </ul>
                    <!-- notificatoin dropdown end-->
                </div>
            </header>
            <!--header end-->

            <!--sidebar start-->
            <aside>
                <div id="sidebar"  class="nav-collapse ">
                    <!-- sidebar menu start-->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a class="" href="{{ path('oolink_dashboard') }}">
                                <i class="icon_house_alt"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <i class="icon_ribbon_alt"></i>
                                <span>Candidats</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="">Liste des candidats</a></li>
                                <li><a class="" href="">Ajout de candidats</a></li>
                                <li><a class="" href="">Importer des candidats</a></li>
                                <li><a class="" href="">Recherche</a></li>
                                <!-- <li><a class="" href="">Grids</a></li>
                                <li><a class="" href="">Dropzone File Upload</a></li> -->    
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <i class="icon_desktop"></i>
                                <span>Envoyer des tests</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="{{ path('oolink_dashboard_send_test') }}">Envoyer</a></li>
                                <li><a class="" href="{{ path('oolink_dashboard_send_test_historique') }}">Historique des envois</a></li>
                                <!-- <li><a class="" href="">Sliders</a></li>
                                <li><a class="" href="">Star Rating</a></li>
                                <li><a class="" href="">CSS3 Animation</a></li> -->
                            </ul>
                        </li>
                        <li>
                            <a class="" href="widgets.html">
                                <i class="icon_genius"></i>
                                <span>Mon compte</span>
                            </a>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <i class="icon_piechart"></i>
                                <span>Statistiques</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="">Voir les statistiques</a></li>
                                <li><a class="" href="chart-chartjs.html">Rapport</a></li>
                                <!-- <li><a class="" href="chart-morris.html">Morris</a></li>
                                <li><a class="" href="chart-sparkline.html">Sparkline</a></li> -->
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <i class="icon_document_alt"></i>
                                <span>Messages envoyés</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="form_component.html">Modifier les messages envoyés</a></li>
                                <!-- <li><a class="" href="form_wizard.html">Form Wizard</a></li>
                                <li><a class="" href="form_validation.html">Form Validation</a></li> -->
                            </ul>
                        </li>
                        <!-- <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <i class="icon_drive"></i>
                                <span>Premium Form</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="premium-form/mailgun.html">Mailgun Validate Email</a></li>
                                <li><a class="" href="premium-form/selector.html">Credit Card Validation</a></li>
                                <li><a class="" href="premium-form/typehead.html">Form With Typehead</a></li>
                                <li><a class="" href="premium-form/dynamic.html">Dynamic Fields</a></li>
                                <li><a class="" href="premium-form/dynamic2.html">Dynamic Phone Number</a></li>
                                <li><a class="" href="premium-form/dynamic3.html">Dynamic Address Form</a></li>
                                <li><a class="" href="premium-form/dynamic4.html">Multi Dynamic Option</a></li>
                                <li><a class="" href="premium-form/file.html">File Validator</a></li>
                                <li><a class="" href="premium-form/tab.html">Tab Dynamic Form</a></li>
                                <li><a class="" href="premium-form/ajaxSubmit.html">Ajax Submit</a></li>
                                <li><a class="" href="premium-form/attribute.html">Sign Up With Attribute</a></li>
                                <li><a class="" href="premium-form/collapse.html">Collapseble Form</a></li>
                                <li><a class="" href="premium-form/choice.html">Force Select Choice</a></li>
                                <li><a class="" href="premium-form/container.html">Custom Error Container</a></li>
                                <li><a class="" href="premium-form/container2.html">Error Container-2</a></li>
                                <li><a class="" href="premium-form/container3.html">Show Error Tooltip</a></li>
                                <li><a class="" href="premium-form/container4.html">Customizing Error</a></li>
                                <li><a class="" href="premium-form/sem-horizontalForm.html">Semantic UI Form</a></li>
                                <li><a class="" href="premium-form/sem-horizontalFormTooltip.html">Semantic UI Form-2</a></li>
                                <li><a class="" href="premium-form/sem-stackedForm.html">Semantic UI Form-3</a></li>
                                <li><a class="" href="premium-form/sem-stackedFormTooltip.html">Semantic UI Form-4</a></li>
                            </ul>
                        </li> -->
                         <li>
                            <a class="" href="">
                                <i class="icon_mail_alt"></i>
                                <span>Liste des utilisateurs </span>
                                <span class="label label-danger pull-right mail-info badge">2</span>
                            </a>
                        </li>
                   <!--     <li>
                            <a class="" href="calendar.html">
                                <i class="icon_calendar"></i>
                                <span>Calendar</span>
                                <span class="label label-danger pull-right mail-info badge">5</span>
                            </a>
                        </li> -->

                        <!-- <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <i class="icon_table"></i>
                                <span>Tables</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="basic_table.html">Basic Table</a></li>
                                <li><a class="" href="dynamic_table.html">Dynamic Table</a></li>
                            </ul>
                        </li>

                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <i class="icon_documents_alt"></i>
                                <span>Pages</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="profile.html">Profile</a></li>
                                <li><a class="" href="invoice.html">Invoice</a></li>
                                <li><a class="" href="timeline.html">Timeline</a></li>
                                <li><a class="" href="chat.html">Chat</a></li>
                                <li><a class="" href="faqs.html">FAQs</a></li>
                                <li><a class="" href="blank.html">Blank Page</a></li>
                                <li><a class="" href="404.html">404 Error</a></li>
                                <li><a class="" href="503.html">503 Error</a></li>
                                <li><a class="" href="maintenance.html">Maintenance</a></li>
                            </ul>
                        </li>

                        <li class="sub-menu">
                            <a href="javascript:;" class="">
                                <i class="icon_key_alt"></i>
                                <span>Login Pages</span>
                                <span class="menu-arrow arrow_carrot-right"></span>
                            </a>
                            <ul class="sub">
                                <li><a class="" href="login-2.html">Login</a></li>
                                <li><a class="" href="register.html">Register</a></li>
                                <li><a class="" href="recoverpw.html">Recover</a></li>
                            </ul>
                        </li> -->
                    </ul>
                    <!-- sidebar menu end-->
                </div>
            </aside>
            <!--sidebar end-->
        
            {% block body %}{% endblock %}
        
        </section>
        <!-- container section end -->

        {% block javascripts %}
            <!-- javascripts -->
            <script src="{{ asset('main/js/jquery.js') }}"></script>
            <script src="{{ asset('main/js/jquery-1.8.3.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('main/js/jquery-ui-1.9.2.custom.min.js') }}"></script>
            <!-- bootstrap -->
            <script src="{{ asset('main/js/bootstrap.min.js') }}"></script>
            <!-- nice scroll -->
            <script src="{{ asset('main/js/jquery.scrollTo.min.js') }}"></script>
            <script src="{{ asset('main/js/jquery.nicescroll.js') }}" type="text/javascript"></script>

            <!--<script src="js/morris-script.js"></script>-->
            <!-- jQuery full calendar -->
            <script src="{{ asset('main/assets/fullcalendar/fullcalendar/fullcalendar.min.js') }}"></script>
            <!--script for this page only-->
            <script src="{{ asset('main/js/calendar-custom.js') }}"></script>
            <!-- custom select -->
            <script src="{{ asset('main/js/jquery.customSelect.min.js') }}" ></script>
            <!--custome script for all page-->
            <script src="{{ asset('main/js/scripts.js') }}"></script>
            <!-- custom script for this page-->
            <!-- charts scripts -->
            <script src="{{ asset('main/assets/morris.js-0.4.3/morris.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('main/assets/morris.js-0.4.3/raphael-min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('main/assets/chart-master/Chart.js') }}"></script>
            <!-- custom chart script for this page only-->
            <script src="{{ asset('main/js/morris-script.js') }}"></script>
            <!---->
            <script defer src="{{ asset('main/assets/js/jquery.flexslider.js') }}"></script>
            <script>
                // Can also be used with $(document).ready()
                $(window).load(function() {
                    $('.flexslider').flexslider({
                        animation: "slide",
                        controlNav: "thumbnails"
                    });
                });
            </script>

        {% endblock %}
    </body>
</html>
