<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Quizz App!{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <!-- Bootstrap -->
            <link rel="stylesheet" href="{{ asset('assets/styles/vendor/bootstrap.min.css') }}" />
            <!-- Fonts -->
            <link rel="stylesheet" href="{{ asset('assets/fonts/et-lineicons/css/style.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/fonts/linea-font/css/linea-font.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome/css/font-awesome.min.css') }}" />
            
            <!-- Slider -->
            <link rel="stylesheet" href="{{ asset('assets/styles/vendor/slick.css') }}" />
        
            <!-- Lightbox -->
            <link rel="stylesheet" href="{{ asset('assets/styles/vendor/magnific-popup.css') }}" />
           
            <!-- Animate.css -->
            <link rel="stylesheet" href="{{ asset('assets/styles/vendor/animate.css') }}" />
            
            <!-- Definity CSS -->
            <link rel="stylesheet" href="{{ asset('assets/styles/main.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/styles/responsive.css') }}" />
            
        {% endblock %}
        
        <!-- favicon du projet -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="page-top">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% block body %}{% endblock %}
        {% block javascripts %}
             <!-- JS -->
             <script src="{{ asset('assets/js/vendor/modernizr-2.8.3.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
