@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-3gtgps');
	src:url('../fonts/icomoon.eot?#iefix-3gtgps') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-3gtgps') format('woff'),
		url('../fonts/icomoon.ttf?-3gtgps') format('truetype'),
		url('../fonts/icomoon.svg?-3gtgps#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="et-"], [class*=" et-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	background-color:red;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.et-adjustments:before {
	content: "\e600";
}

.et-alarmclock:before {
	content: "\e601";
}

.et-anchor:before {
	content: "\e602";
}

.et-aperture:before {
	content: "\e603";
}

.et-attachments:before {
	content: "\e604";
}

.et-bargraph:before {
	content: "\e605";
}

.et-basket:before {
	content: "\e606";
}

.et-beaker:before {
	content: "\e607";
}

.et-bike:before {
	content: "\e608";
}

.et-book-open:before {
	content: "\e609";
}

.et-briefcase:before {
	content: "\e60a";
}

.et-browser:before {
	content: "\e60b";
}

.et-calendar:before {
	content: "\e60c";
}

.et-camera:before {
	content: "\e60d";
}

.et-caution:before {
	content: "\e60e";
}

.et-chat:before {
	content: "\e60f";
}

.et-circle-compass:before {
	content: "\e610";
}

.et-clipboard:before {
	content: "\e611";
}

.et-clock:before {
	content: "\e612";
}

.et-cloud:before {
	content: "\e613";
}

.et-compass:before {
	content: "\e614";
}

.et-desktop:before {
	content: "\e615";
}

.et-dial:before {
	content: "\e616";
}

.et-document:before {
	content: "\e617";
}

.et-documents:before {
	content: "\e618";
}

.et-download:before {
	content: "\e619";
}

.et-dribbble:before {
	content: "\e61a";
}

.et-edit:before {
	content: "\e61b";
}

.et-envelope:before {
	content: "\e61c";
}

.et-expand:before {
	content: "\e61d";
}

.et-facebook:before {
	content: "\e61e";
}

.et-flag:before {
	content: "\e61f";
}

.et-focus:before {
	content: "\e620";
}

.et-gears:before {
	content: "\e621";
}

.et-genius:before {
	content: "\e622";
}

.et-gift:before {
	content: "\e623";
}

.et-global:before {
	content: "\e624";
}

.et-globe:before {
	content: "\e625";
}

.et-googleplus:before {
	content: "\e626";
}

.et-grid:before {
	content: "\e627";
}

.et-happy:before {
	content: "\e628";
}

.et-hazardous:before {
	content: "\e629";
}

.et-heart:before {
	content: "\e62a";
}

.et-hotairballoon:before {
	content: "\e62b";
}

.et-hourglass:before {
	content: "\e62c";
}

.et-key:before {
	content: "\e62d";
}

.et-laptop:before {
	content: "\e62e";
}

.et-layers:before {
	content: "\e62f";
}

.et-lifesaver:before {
	content: "\e630";
}

.et-lightbulb:before {
	content: "\e631";
}

.et-linegraph:before {
	content: "\e632";
}

.et-linkedin:before {
	content: "\e633";
}

.et-lock:before {
	content: "\e634";
}

.et-magnifying-glass:before {
	content: "\e635";
}

.et-map-pin:before {
	content: "\e636";
}

.et-map:before {
	content: "\e637";
}

.et-megaphone:before {
	content: "\e638";
}

.et-mic:before {
	content: "\e639";
}

.et-mobile:before {
	content: "\e63a";
}

.et-newspaper:before {
	content: "\e63b";
}

.et-notebook:before {
	content: "\e63c";
}

.et-paintbrush:before {
	content: "\e63d";
}

.et-paperclip:before {
	content: "\e63e";
}

.et-pencil:before {
	content: "\e63f";
}

.et-phone:before {
	content: "\e640";
}

.et-picture:before {
	content: "\e641";
}

.et-pictures:before {
	content: "\e642";
}

.et-piechart:before {
	content: "\e643";
}

.et-presentation:before {
	content: "\e644";
}

.et-pricetags:before {
	content: "\e645";
}

.et-printer:before {
	content: "\e646";
}

.et-profile-female:before {
	content: "\e647";
}

.et-profile-male:before {
	content: "\e648";
}

.et-puzzle:before {
	content: "\e649";
}

.et-quote:before {
	content: "\e64a";
}

.et-recycle:before {
	content: "\e64b";
}

.et-refresh:before {
	content: "\e64c";
}

.et-ribbon:before {
	content: "\e64d";
}

.et-rss:before {
	content: "\e64e";
}

.et-sad:before {
	content: "\e64f";
}

.et-scissors:before {
	content: "\e650";
}

.et-scope:before {
	content: "\e651";
}

.et-search:before {
	content: "\e652";
}

.et-shield:before {
	content: "\e653";
}

.et-speedometer:before {
	content: "\e654";
}

.et-strategy:before {
	content: "\e655";
}

.et-streetsign:before {
	content: "\e656";
}

.et-tablet:before {
	content: "\e657";
}

.et-telescope:before {
	content: "\e658";
}

.et-toolbox:before {
	content: "\e659";
}

.et-tools-2:before {
	content: "\e65a";
}

.et-tools:before {
	content: "\e65b";
}

.et-traget:before {
	content: "\e65c";
}

.et-trophy:before {
	content: "\e65d";
}

.et-tumblr:before {
	content: "\e65e";
}

.et-twitter:before {
	content: "\e65f";
}

.et-upload:before {
	content: "\e660";
}

.et-video:before {
	content: "\e661";
}

.et-wallet:before {
	content: "\e662";
}

.et-wine:before {
	content: "\e663";
}

