{% extends "::layout-main.html.twig" %}

{% block body %}
        <!--main content start-->
    <section id="main-content" class="animated fadeIn" style="animation-duration: 2s; opacity: 1;">
        <section class="wrapper">
            <!--overview start-->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">

					<h3>envoyer email</h3>


					<div class="well">

					  {{ form(form) }}

					</div>

				</div>
      	    </div>

        </section>
    </section>


{% endblock %}
