{% extends "::layout.html.twig" %}

{% block body %}
	<!-- ========== Preloader ========== -->

        <div class="preloader">
          <img src="{{ asset(' assets/images/loader.svg') }}" alt="Loading...">
        </div>


        
        <!-- ========== Navigation ========== -->

        <nav class="navbar navbar-default navbar-fixed-top mega navbar-trans">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- Logo -->
              <a class="navbar-brand" href="index.html"><img class="navbar-logo" src="{{ asset('assets/images/logo.png') }}" alt="Definity - Logo"></a>
            </div><!-- / .navbar-header -->

            <!-- Navbar Links -->
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">

                <!-- Home -->
                <li class="dropdown mega-fw">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Home<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <div class="row">

                      <!-- Multi Page -->
                      <div class="col-lg-3 mb-sm-30">
                        <li class="dropdown-header">Multipage</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="index-main-mp.html" target="_blank">Main Demo</a></li>
                        <li><a href="index-fs-slider-mp.html" target="_blank">Full Screen Slider</a></li>
                        <li><a href="index-fs-video-mp.html" target="_blank">Full Screen Video</a></li>
                        <li><a href="index-kenburn-mp.html" target="_blank">Kenburn Slider</a></li>
                        <li><a href="index-fw-slider-mp.html" target="_blank">Full Width Slider</a></li>
                      </div>

                      <div class="col-lg-3 mb-sm-30">
                        <li class="dropdown-header">Multipage</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="index-animated-mp.html" target="_blank">Animated Heading</a></li>
                        <li><a href="index-fw-video-mp.html" target="_blank">Full Width Video</a></li>
                        <li><a href="index-text-mp.html" target="_blank">Text Slider</a></li>
                        <li><a href="index-freelancer-mp.html" target="_blank">Freelancer</a></li>
                        <li><a href="index-agency-mp.html" target="_blank">Agency</a></li>
                      </div>

                      <!-- Onepage -->
                      <div class="col-lg-3 mb-sm-30">
                        <li class="dropdown-header">Onepage</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="index-main-op.html" target="_blank">Main Demo</a></li>
                        <li><a href="index-fs-slider-op.html" target="_blank">Full Screen Slider</a></li>
                        <li><a href="index-fs-video-op.html" target="_blank">Full Screen Video</a></li>
                        <li><a href="index-kenburn-op.html" target="_blank">Kenburn Slider</a></li>
                        <li><a href="index-fw-slider-op.html" target="_blank">Full Width Slider</a></li>
                        <li><a href="index-fw-video-op.html" target="_blank">Full Width Video</a></li>
                      </div>

                      <div class="col-md-3 mb-sm-30">
                        <li class="dropdown-header">Onepage</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="index-animated-op.html" target="_blank">Animated Heading</a></li>
                        <li><a href="index-text-op.html" target="_blank">Text Slider</a></li>
                        <li><a href="index-freelancer-op.html" target="_blank">Freelancer</a></li>
                        <li><a href="index-agency-op.html" target="_blank">Agency</a></li>
                        <li><a href="index-landing.html" target="_blank">Landing Page</a></li>
                      </div>

                    </div><!-- / .row -->
                  </ul><!-- / .dropdown-menu -->
                </li><!-- / Home -->
                

                <!-- Elements -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Elements <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <div class="row">

                      <!-- Basic -->
                      <div class="col-lg-6 mb-sm-30">
                        <li class="dropdown-header">Basic</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="elements/typography.html" target="_blank"><i class="fa fa-font"></i> Typography</a></li>
                        <li><a href="elements/buttons.html" target="_blank"><i class="fa fa-bold"></i> Buttons</a></li>
                        <li><a href="elements/forms.html" target="_blank"><i class="fa fa-send"></i> Forms</a></li>
                        <li><a href="elements/grid.html" target="_blank"><i class="fa fa-th"></i> Grid</a></li>
                        <li><a href="elements/alerts.html" target="_blank"><i class="fa fa-info-circle"></i> Alerts</a></li>
                        <li><a href="elements/progress-bars.html" target="_blank"><i class="fa fa-tasks"></i> Progress Bars</a></li>
                        <li><a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank"><i class="fa fa-flag"></i> Font Awesome</a></li>
                        <li><a href="elements/line-icons-page.html" target="_blank"><i class="fa fa-flag-o"></i> Line Icons</a></li>
                        <li><a href="elements/linea-icons-page.html" target="_blank"><i class="fa fa-flag-o"></i> Line Icons 2</a></li>
                      </div>

                      <!-- Layout -->
                      <div class="col-lg-6 mb-sm-30">
                        <li class="dropdown-header">Layout</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="elements/headers.html" target="_blank"><i class="fa fa-header"></i> Headers</a></li>
                        <li><a href="elements/footers.html" target="_blank"><i class="fa fa-leaf"></i> Footers</a></li>
                        <li><a href="elements/features.html" target="_blank"><i class="fa fa-star"></i> Features</a></li>
                        <li><a href="elements/cta.html" target="_blank"><i class="fa fa-link"></i> CTA</a></li>
                        <li><a href="elements/counters.html" target="_blank"><i class="fa fa-circle-o-notch"></i> Counters</a></li>
                        <li><a href="elements/pricing.html" target="_blank"><i class="fa fa-dollar"></i> Pricing</a></li>
                        <li><a href="elements/team.html" target="_blank"><i class="fa fa-users"></i> Team</a></li>
                        <li><a href="elements/testimonials.html" target="_blank"><i class="fa fa-comment"></i> Testimonials</a></li>
                      </div>

                    </div><!-- / .row -->
                  </ul><!-- / .dropdown-menu -->
                </li><!-- / Elements -->


               {#  <!-- Pages -->
                <li class="dropdown mega-fw">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <div class="row">
                      
                      <!-- Introduction -->
                      <div class="col-lg-3 mb-sm-30">
                        <li class="dropdown-header">Introduction</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="pages/about-1.html">Abouts Us 1</a></li>
                        <li><a href="pages/about-2.html">About Us 2</a></li>
                        <li><a href="pages/team-1.html">Team Members 1</a></li>
                        <li><a href="pages/team-2.html">Team Members 2</a></li>
                        <li><a href="pages/clients.html">Clients</a></li>
                      </div>

                      <!-- Contact -->
                      <div class="col-lg-3 mb-sm-30">
                        <li class="dropdown-header">Contact</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="pages/contact-1.html">Contact Page 1</a></li>
                        <li><a href="pages/contact-2.html">Contact Page 2</a></li>
                        <li><a href="pages/contact-3.html">Contact Page 3</a></li>
                      </div>

                      <!-- Utility -->
                      <div class="col-lg-3 mb-sm-30">
                        <li class="dropdown-header">Utility</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="pages/services-1.html">Services</a></li>
                        <li><a href="pages/faq-1.html">F.A.Q. Page 1</a></li>
                        <li><a href="pages/faq-2.html">F.A.Q. Page 2</a></li>
                        <li><a href="pages/login-1.html">Login Page 1</a></li>
                        <li><a href="pages/login-2.html">Login Page 2</a></li>
                      </div>

                      <!-- Miscellaneous -->
                      <div class="col-lg-3 mb-sm-30">
                        <li class="dropdown-header">Other</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="404.html">404 Page</a></li>
                        <li><a href="pages/maintenance.html">Maintenance Page</a></li>
                        <li><a href="pages/coming-soon-1.html">Coming Soon 1</a></li>
                        <li><a href="pages/coming-soon-2.html">Coming Soon 2</a></li>
                        <li><a href="pages/blank.html">Blank Page</a></li>
                      </div>

                    </div><!-- / .row -->
                  </ul><!-- / .dropdown-menu -->
                </li><!-- / Pages -->
                #}
                

               {#  <!-- Portfolio -->
                <li class="dropdown mega-fw">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Portfolio <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <div class="row">
                      
                      <!-- Full Width -->
                      <div class="col-lg-3 mb-sm-30">
                        <li class="dropdown-header">Full Width</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="pages/portfolio/portfolio-fw-1col.html">Full Width 1 Column</a></li>
                        <li><a href="pages/portfolio/portfolio-fw-2col.html">Full Width 2 Columns</a></li>
                        <li><a href="pages/portfolio/portfolio-fw-3col.html">Full Width 3 Columns</a></li>
                        <li><a href="pages/portfolio/portfolio-fw-4col.html">Full Width 4 Columns</a></li>
                      </div>

                      <!-- Boxed -->
                      <div class="col-lg-3 mb-sm-30">
                        <li class="dropdown-header">Boxed</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="pages/portfolio/portfolio-boxed-1col.html">Boxed 1 Columns</a></li>
                        <li><a href="pages/portfolio/portfolio-boxed-2col.html">Boxed 2 Columns</a></li>
                        <li><a href="pages/portfolio/portfolio-boxed-3col.html">Boxed 3 Columns</a></li>
                        <li><a href="pages/portfolio/portfolio-boxed-4col.html">Boxed 4 Columns</a></li>
                      </div>

                      <!-- Masonry -->
                      <div class="col-lg-3 mb-sm-30">
                        <li class="dropdown-header">Masonry</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="pages/portfolio/portfolio-masonry-1.html">Masonry Layout 1</a></li>
                        <li><a href="pages/portfolio/portfolio-masonry-2.html">Masonry Layout 2</a></li>
                        <li><a href="pages/portfolio/portfolio-masonry-3.html">Masonry Layout 3</a></li>
                      </div>

                      <!-- Other -->
                      <div class="col-lg-3 mb-sm-30">
                        <li class="dropdown-header">Other</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="pages/portfolio/portfolio-single-1.html">Portfolio Single 1</a></li>
                        <li><a href="pages/portfolio/portfolio-single-2.html">Portfolio Single 2</a></li>
                      </div>

                    </div><!-- / .row -->
                  </ul><!-- / .dropdown-menu -->
                </li><!-- / Portfolio -->
                #}
                

                <!-- Blog -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="pages/blog/blog-left-sidebar.html">Blog Left Sidebar</a></li>
                    <li><a href="pages/blog/blog-right-sidebar.html">Blog Right Sidebar</a></li>
                    <li><a href="pages/blog/blog-2col.html">Blog 2 Columns</a></li>
                    <li><a href="pages/blog/blog-3col.html">Blog 3 Columns</a></li>
                    <li><a href="pages/blog/blog-masonry-2col.html">Blog Masonry 2 Columns</a></li>
                    <li><a href="pages/blog/blog-masonry-3col.html">Blog Masonry 3 Columns</a></li>
                    <li><a href="pages/blog/blog-post.html">Blog Single</a></li>
                  </ul>
                </li><!-- / Blog -->
              </ul><!-- / .nav .navbar-nav -->
              

              <!-- Navbar Links Right -->
              <ul class="nav navbar-nav navbar-right">

                <!-- Search -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i> Search</a>
                  <ul class="dropdown-menu search-dropdown">
                    <li><form action="post"><input type="search" class="form-control" placeholder="Search..."></form></li>
                  </ul>
                </li><!-- / Search -->

                <!-- SE CONNECTER -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SE CONNECTER<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <!-- ========== Login From ========== -->

			        <div class="login-2">
			          <div class="bg-overlay">
			            
			            <form method="post" action="login" accept-charset="UTF-8">
								<input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="username">
								<input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password">
								<input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
								<label class="string optional" for="user_remember_me"> Remember me</label>
								<input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In">
								<label style="text-align:center;margin-top:5px">or</label>
                                <input class="btn btn-primary btn-block" type="button" id="sign-in-facebook" value="Sign In with Facebook">
								<input class="btn btn-primary btn-block" type="button" id="sign-in-linkdin" value="Sign In with Linkdin">
						</form>

			          </div><!-- / .bg-overlay -->
			        </div><!-- / .bg-login -->
                  </ul>
                </li><!-- / se connecter -->

              </ul><!-- / .nav .navbar-nav .navbar-right -->

            </div><!--/.navbar-collapse -->
          </div><!-- / .container -->
        </nav><!-- / .navbar -->



        <!-- ========== Hero Cover ========== -->

        <div id="home" class="fw-slider-hero">
          <div class="fw-slider">
            
            <!-- Slide 1 -->
            <div class="fw-slider-item fw-slide-1">
              <div class="bg-overlay">
                                
                <!-- Hero Content -->
                <div class="hero-content-wrapper">
                  <div class="hero-content">
                    
                    <h1 class="hero-lead wow fadeInUp" data-wow-duration="2s">Reach the top</h1>
                    <h4 class="h-alt hero-subheading wow fadeIn" data-wow-delay=".5s" data-wow-duration="1.5s">Multipage &amp; Onepage HTML5 Templates</h4>
                    <a href="#services" class="btn btn-light wow fadeIn" data-wow-delay=".7s" data-wow-duration="2s">Learn More</a>

                  </div>
                </div>

              </div><!-- / .bg-overlay -->
            </div><!-- / .fw-slide-1 -->


            <!-- Slide 2 -->
            <div class="fw-slider-item fw-slide-2">
              <div class="bg-overlay">
                                
                <!-- Hero Content -->
                <div class="hero-content-wrapper">
                  <div class="hero-content">
                    
                    <h1 class="hero-lead">Created<br>for creatives</h1>
                    <h4 class="h-alt hero-subheading">MULTIPAGE &amp; ONEPAGE HTML5 TEMPLATES</h4>
                    
                    <a href="#services" class="btn-light">Learn More</a>

                  </div>
                </div>

              </div><!-- / .bg-overlay -->
            </div><!-- / .fw-slide-2 -->


            <!-- Slide 3 -->
            <div class="fw-slider-item fw-slide-3">
              <div class="bg-overlay">
                                
                <!-- Hero Content -->
                <div class="hero-content-wrapper">
                  <div class="hero-content">
                    
                    <h4 class="h-alt hero-subheading wow fadeInUp">Webdesing &amp; Development</h4>
                    <h1 class="hero-lead">Creative Agency</h1>
                    <a href="#services" class="btn btn-light wow fadeInDown">Learn More</a>

                  </div>
                </div>

              </div><!-- / .bg-overlay -->
            </div><!-- / .fw-slide-3 -->

          </div><!-- / .fw-slider -->

          <!-- Scroller -->
          <!-- <a href="#services" class="scroller">
            <span class="scroller-text">scroll down</span>
            <span class="linea-basic-magic-mouse"></span>
          </a> -->

        </div><!-- / .fs-slider-hero -->



        <!-- ========== Services ========== -->

        <div class="gray-bg">
          <section id="services" class="container ft-cards">
            <div class="row section">

              <header class="sec-heading">
                <h2>What we do</h2>
                <span class="subheading">Lorem ipsum dolor sit amet, consectetur</span>
              </header>
              
              <!-- Item 1 -->
              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp" data-wow-duration="1s">
                  <span class="linea-basic-pencil-ruler"></span>
                  <h4>Pixel Perfect</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur elit adipisicing , sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimv</p>
                  <a href="#">Learn more <span class="linea-arrows-slim-right"></span></a>
                </div>
              </div>

              <!-- Item 2 -->
              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                  <span class="linea-basic-cards-diamonds"></span>
                  <h4>Multiple icon sets</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur elit adipisicing , sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimv</p>
                  <a href="#">Learn more <span class="linea-arrows-slim-right"></span></a>
                </div>
              </div>

              <!-- Item 3 -->
              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="ft-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                  <span class="linea-basic-star"></span>
                  <h4>Lots of features</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur elit adipisicing , sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimv</p>
                  <a href="#">Learn more <span class="linea-arrows-slim-right"></span></a>
                </div>
              </div>

            </div><!-- / .row -->
          </section>
        </div><!-- / .gray-bg -->



        <!-- ========== Feature - Steps Numbers ========== -->
         
        <section class="container ft-steps-numbers">
        {#    <div class="row section">

              <header class="sec-heading ws-s">
                <h2>Our work process</h2>
                <span class="subheading">Lorem ipsum dolor sit amet, consectetur</span>
              </header>
              
              <!-- Step 1 -->
              <div class="col-lg-4 col-md-6 mb-sm-100 ft-item wow fadeIn" data-wow-duration="1s">
                <span class="ft-nbr">01</span>
                <h4>Design</h4>
                <p>Lariatur, excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est</p>
              </div>

              <!-- Step 2 -->
              <div class="col-lg-4 col-md-6 mb-sm-100 ft-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
                <span class="ft-nbr">02</span>
                <h4>Develop</h4>
                <p>Lariatur, excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est</p>
              </div>

              <!-- Step 3 -->
              <div class="col-lg-4 col-md-6 ft-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".6s">
                <span class="ft-nbr">03</span>
                <h4>Deploy</h4>
                <p>Lariatur, excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est</p>
              </div>

            </div><!-- / .row -->
            
            <!-- CTA Button -->
            <div class="row ws-m">
              <div class="text-center">
                <a href="#contact" class="btn">Get a free quote</a>
              </div>
            </div><!-- / .row -->
#}
        </section><!-- / .container -->
        


        <!-- ========== Cricle Counters - Parallax ========== -->

        <div id="skillsCircles" class="circles-counters">
          <div class="container">
            <div id="counters" class="row count-wrapper">
              
              <!-- Item 1 -->
              <div class="col-sm-6 col-lg-3 circle-item wow zoomIn" data-wow-duration=".6s" data-wow-delay=".3s">
                <div class="chart" data-percent="75"><span class="circle-icon linea-basic-gear"></span></div>
                <span class="circle-text">Web Development</span>
              </div>

              <!-- Item 2 -->
              <div class="col-sm-6 col-lg-3 circle-item wow zoomIn" data-wow-duration=".6s">
                <div class="chart" data-percent="75"><span class="circle-icon linea-basic-display"></span></div>
                <span class="circle-text">Web Design</span>
              </div>

              <!-- Item 3 -->
              <div class="col-sm-6 col-lg-3 circle-item wow zoomIn" data-wow-duration=".6s">
                <div class="chart" data-percent="75"><span class="circle-icon linea-basic-photo"></span></div>
                <span class="circle-text">Photography</span>
              </div>

              <!-- Item 4 -->
              <div class="col-sm-6 col-lg-3 circle-item wow zoomIn" data-wow-duration=".6s" data-wow-delay=".3s">
                <div class="chart" data-percent="75"><span class="circle-icon linea-basic-star"></span></div>
                <span class="circle-text">Marketing</span>
              </div>

            </div><!-- / .row -->
          </div><!-- / .container -->
        </div><!-- / .circles-counters -->

        

        <!-- ========== Portfolio ========== -->
        {# 
        <section class="container-fluid portfolio-layout portfolio-columns-fw">
          <div class="row">
            <header class="sec-heading">
              <h2>Some of our projects</h2>
              <span class="subheading">Lorem ipsum dolor sit amet consectetur adipisicing</span>
            </header>
          </div><!-- / .row -->
          
          <!-- Filters -->
          <div class="row">
            <ul id="pfolio-filters" class="portfolio-filters">
              <li class="active"><a href="#" data-filter="*">All</a></li>
              <li><a href="#" data-filter=".webdesing">Webdesign</a></li>
              <li><a href="#" data-filter=".print">Print</a></li>
              <li><a href="#" data-filter=".photo">Photography</a></li>
            </ul>
          </div>

          <div class="row">
            <div id="pfolio">

              <!-- Item 1 -->
              <div class="col-md-4 portfolio-item print">
                <figure>
                  <img src="http://placehold.it/990x650/aaa/ccc" alt="Project Example">
                  <figcaption>
                    <a href="pages/portfolio/portfolio-single-1.html" class="open-btn"><i class="fa fa-expand"></i></a>
                    <div class="p-content">
                      <h4>Project Name</h4>
                      <h6 class="subheading">Sub heading for the project</h6>
                    </div>
                  </figcaption>
                </figure>
              </div><!-- / .portfolio-item -->

              <!-- Item 2 -->
              <div class="col-md-4 portfolio-item webdesing photo">
                <figure>
                  <img src="http://placehold.it/990x650" alt="Project Example">
                  <figcaption>
                    <a href="pages/portfolio/portfolio-single-1.html" class="open-btn"><i class="fa fa-expand"></i></a>
                    <div class="p-content">
                      <h4>Project Name</h4>
                      <h6 class="subheading">Sub heading for the project</h6>
                    </div>
                  </figcaption>
                </figure>
              </div><!-- / .portfolio-item -->

              <!-- Item 3 -->
              <div class="col-md-4 portfolio-item photo print">
                <figure>
                  <img src="http://placehold.it/990x650/aaa/ccc" alt="Project Example">
                  <figcaption>
                    <a href="pages/portfolio/portfolio-single-1.html" class="open-btn"><i class="fa fa-expand"></i></a>
                    <div class="p-content">
                      <h4>Project Name</h4>
                      <h6 class="subheading">Sub heading for the project</h6>
                    </div>
                  </figcaption>
                </figure>
              </div><!-- / .portfolio-item -->

              <!-- Item 4 -->
              <div class="col-md-4 portfolio-item webdesing print">
                <figure>
                  <img src="http://placehold.it/990x650" alt="Project Example">
                  <figcaption>
                    <a href="pages/portfolio/portfolio-single-1.html" class="open-btn"><i class="fa fa-expand"></i></a>
                    <div class="p-content">
                      <h4>Project Name</h4>
                      <h6 class="subheading">Sub heading for the project</h6>
                    </div>
                  </figcaption>
                </figure>
              </div><!-- / .portfolio-item -->

              <!-- Item 5 -->
              <div class="col-md-4 portfolio-item webdesing">
                <figure>
                  <img src="http://placehold.it/990x650/aaa/ccc" alt="Project Example">
                  <figcaption>
                    <a href="pages/portfolio/portfolio-single-1.html" class="open-btn"><i class="fa fa-expand"></i></a>
                    <div class="p-content">
                      <h4>Project Name</h4>
                      <h6 class="subheading">Sub heading for the project</h6>
                    </div>
                  </figcaption>
                </figure>
              </div><!-- / .portfolio-item -->

              <!-- Item 6 -->
              <div class="col-md-4 portfolio-item photo print webdesing">
                <figure>
                  <img src="http://placehold.it/990x650" alt="Project Example">
                  <figcaption>
                    <a href="pages/portfolio/portfolio-single-1.html" class="open-btn"><i class="fa fa-expand"></i></a>
                    <div class="p-content">
                      <h4>Project Name</h4>
                      <h6 class="subheading">Sub heading for the project</h6>
                    </div>
                  </figcaption>
                </figure>
              </div><!-- / .portfolio-item -->

            </div><!-- / #pfolio -->
          </div><!-- / .row -->
        </section><!-- / .portfolio-columns-fw -->
        #}



        <!-- ========== Testimonials ========== -->
        {#
        <div class="gray-bg">
          <section class="container testimonials-3col">
            <div class="row section">

              <header class="sec-heading">
                <h2>What people say about us</h2>
                <span class="subheading">Read some of the testimonials from our amazing clients</span>
              </header>
              
              <!-- Item 1 -->
              <div class="col-md-4 mb-sm-50">
                <div class="t-item wow fadeIn" data-wow-duration="1s">
                  <img src="{{ asset('assets/images/avatar-placeholder.png') }}" alt="Testimonial">
                  <blockquote>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae</p>
                    <footer>
                      <cite>by Julian Schmitz<span>Google</span></cite>
                    </footer>
                  </blockquote>
                  <span class="et-quote t-icon"></span>
                </div><!-- / .t-item -->
              </div><!-- / .col-md-4 -->

              <!-- Item 2 -->
              <div class="col-md-4 mb-sm-50">
                <div class="t-item wow fadeIn"  data-wow-duration="1s" data-wow-delay=".3s">
                  <img src="{{ asset('assets/images/avatar-placeholder.png') }}" alt="Testimonial">
                  <blockquote>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae</p>
                    <footer>
                      <cite>by Cecilia Acosta<span>Apple</span></cite>
                    </footer>
                  </blockquote>
                  <span class="et-quote t-icon"></span>
                </div><!-- / .t-item -->
              </div><!-- / .col-md-4 -->

              <!-- Item 3 -->
              <div class="col-md-4">
                <div class="t-item wow fadeIn" data-wow-duration="1s" data-wow-delay=".6s">
                  <img src="{{ asset('assets/images/avatar-placeholder.png') }}" alt="Testimonial">
                  <blockquote>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae</p>
                    <footer>
                      <cite>by Gerald Pena<span>Facebook</span></cite>
                    </footer>
                  </blockquote>
                  <span class="et-quote t-icon"></span>
                </div><!-- / .t-item -->
              </div><!-- / .col-md-4 -->

            </div><!-- / .row -->
            
            <!-- Client Slider -->
            <div class="row">
              <ul class="t-clients clients-slider ws-m">
                <li><a href="#"><img src="{{ asset('assets/images/client-logo-placeholder.png') }}" alt="Client"></a></li>
                <li><a href="#"><img src="{{ asset('assets/images/client-logo-placeholder.png') }}" alt="Client"></a></li>
                <li><a href="#"><img src="{{ asset('assets/images/client-logo-placeholder.png') }}" alt="Client"></a></li>
                <li><a href="#"><img src="{{ asset('assets/images/client-logo-placeholder.png') }}" alt="Client"></a></li>
                <li><a href="#"><img src="{{ asset('assets/images/client-logo-placeholder.png') }}" alt="Client"></a></li>
                <li><a href="#"><img src="{{ asset('assets/images/client-logo-placeholder.png') }}" alt="Client"></a></li>
              </ul><!-- / .t-clients -->
            </div><!-- / .row -->  

          </section><!-- / .container -->
        </div><!-- / .gray-bg -->
        #}



        <!-- ========== CTA - Contact Link ========== -->
        {# 
        <div class="cta-link">
          <div class="bg-overlay">
            
            <div class="cta-wrapper">
              <h3 class="h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">See what we can do for you</h3>
              <a href="#contact" class="btn btn-light btn-large wow fadeIn" data-wow-delay=".3s" data-wow-duration="1s">Get in touch</a>
            </div>

          </div>
        </div><!-- / .dark-bg .cta-link -->
        #}


        <!-- ========== Blog Preview ========== -->

        <div class="gray-bg">
          <section class="section container blog-columns blog-preview">
            <div class="row">
              
              <header class="sec-heading">
                <h2>Nos offres</h2>
                <span class="subheading">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
              </header>

              
              <!-- Blog Post 1 -->
              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="blog-post wow fadeIn" data-wow-duration="2s">

                  <!-- Image -->
                  <a href="pages/blog/blog-post.html" class="post-img"><img src="http://placehold.it/990x715" alt="Blog Post 1"></a>

                  <div class="bp-content">
                    
                    <!-- Meta data -->
                    <div class="post-meta">
                      <a href="#" class="post-date">
                        <i class="fa fa-calendar-o"></i>
                        <span>August 01.2015</span>
                      </a>
                      <a href="#" class="post-comments">
                        <i class="fa fa-comments-o"></i>
                        <span>12</span>
                      </a>
                    </div><!-- / .meta -->

                    <!-- Post Title -->
                    <a href="pages/blog/blog-post.html" class="post-title"><h4>Blog Post Title</h4></a>

                    <!-- Blurb -->
                    <p>Lorem ipsum dolor sit amet, tempor consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad ...</p>

                    <!-- Link -->
                    <a href="pages/blog/blog-post.html" class="btn btn-small">Read More</a>

                  </div><!-- / .bp-content -->

                </div><!-- / .blog-post -->
              </div><!-- / .col-lg-4 -->


              <!-- Blog Post 2 -->
              <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="blog-post wow fadeIn" data-wow-duration="2s" data-wow-delay=".3s">

                  <!-- Image -->
                  <a href="pages/blog/blog-post.html" class="post-img"><img src="http://placehold.it/990x715" alt="Blog Post 1"></a>

                  <div class="bp-content">
                    
                    <!-- Meta data -->
                    <div class="post-meta">
                      <a href="#" class="post-date">
                        <i class="fa fa-calendar-o"></i>
                        <span>August 01.2015</span>
                      </a>
                      <a href="#" class="post-comments">
                        <i class="fa fa-comments-o"></i>
                        <span>12</span>
                      </a>
                    </div><!-- / .meta -->

                    <!-- Post Title -->
                    <a href="pages/blog/blog-post.html" class="post-title"><h4>Blog Post Title</h4></a>

                    <!-- Blurb -->
                    <p>Lorem ipsum dolor sit amet, tempor consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad ...</p>

                    <!-- Link -->
                    <a href="pages/blog/blog-post.html" class="btn btn-small">Read More</a>

                  </div><!-- / .bp-content -->

                </div><!-- / .blog-post -->
              </div><!-- / .col-lg-4 -->

              
              <!-- Blog Post 3 -->
              <div class="col-lg-4 col-md-6">
                <div class="blog-post wow fadeIn" data-wow-duration="2s" data-wow-delay=".6s">

                  <!-- Image -->
                  <a href="pages/blog/blog-post.html" class="post-img"><img src="http://placehold.it/990x715" alt="Blog Post 1"></a>

                  <div class="bp-content">
                    
                    <!-- Meta data -->
                    <div class="post-meta">
                      <a href="#" class="post-date">
                        <i class="fa fa-calendar-o"></i>
                        <span>August 01.2015</span>
                      </a>
                      <a href="#" class="post-comments">
                        <i class="fa fa-comments-o"></i>
                        <span>12</span>
                      </a>
                    </div><!-- / .meta -->

                    <!-- Post Title -->
                    <a href="pages/blog/blog-post.html" class="post-title"><h4>Blog Post Title</h4></a>

                    <!-- Blurb -->
                    <p>Lorem ipsum dolor sit amet, tempor consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad ...</p>

                    <!-- Link -->
                    <a href="pages/blog/blog-post.html" class="btn btn-small">Read More</a>

                  </div><!-- / .bp-content -->

                </div><!-- / .blog-post -->
              </div><!-- / .col-lg-4 -->


            </div><!-- / .row -->
          </section><!-- / .container -->
        </div><!-- / .gray-bg -->



        <!-- ========== CTA - Newsletter Signup ========== -->

        <div class="cta-newsletter">
          <div class="bg-overlay">
            
            <div class="cta-wrapper">
              <h3 class="cta-lead h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">Join our newsletter</h3>
              <input class="wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s" type="email" placeholder="Your email address">
              <input class="btn btn-light btn-large wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s" type="submit" value="Join Us">
            </div>

          </div>
        </div><!-- / .cta-newsletter -->



        <!-- ========== Contact ========== -->

        <section class="section contact-1">
          
          <header class="sec-heading">
            <h2>Countact Us</h2>
            <span class="subheading">We love to hear from you</span>
          </header>
          
          <div class="contact-wrapper">
            <!-- Map -->
            {# <div id="map-canvas" class="gmap map-boxed"></div>

            <!-- Show Info Button -->
           <div class="show-info-link">
              <a href="#" class="show-info"><i class="fa fa-info"></i><h6>Show info</h6></a>
            </div> #}

            <div class="container">
             {#  <div class="row ws-m">

                <!-- Address Info -->
                <div class="col-xs-offset-1 col-xs-11 col-md-offset-2 col-md-6 contact-info-wrapper">
                  <address>
                    <div class="row">

                      <!-- Phone -->
                      <div class="col-sm-6 address-group">
                        <span>Phone</span>
                        <a href="#">+ 123 4567 890</a>
                        <a href="#">+ 123 7654 098</a>
                      </div>

                      <!-- Address -->
                      <div class="col-sm-5 address-group">
                        <span>Address</span>
                        <p>1200 some street, il, US</p>
                      </div>

                    </div><!-- / .row -->

                    <div class="row">

                      <!-- Email -->
                      <div class="col-sm-6 address-group">
                        <span>Email</span>
                        <a href="mailto:sayhello@email.com">sayhello@email.com</a>
                      </div>

                      <!-- Hours -->
                      <div class="col-sm-5 address-group">
                        <span>Open Hours</span>
                        <p>Mon-Fri: 9am-5pm</p>
                        <p>Sat: 10am-1pm</p>
                      </div>

                    </div><!-- / .row -->

                    <!-- Show Map Button -->
                    <div class="row show-map-link">
                      <a href="#" class="show-map"><span class="icon-map-pin"></span>Show on map</a>
                    </div><!-- / .row -->
                  </address>
                </div><!-- / .contact-info-wrapper -->
              </div><!-- / .row -->   #}
              
              <!-- Contact Form -->
              <div class="row">
                <form action="post">
                  <div class="col-md-offset-2 col-md-4 wow fadeInUp" data-wow-duration="1s">

                    <!-- Name -->
                    <div class="form-group">
                      <input type="text" id="name-contact-1" class="form-control" placeholder="Enter your name">
                      <label for="name-contact-1">Name</label>
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                      <input type="text" id="email-contact-1" class="form-control" placeholder="Enter your email">
                      <label for="email-contact-1">Email</label>
                    </div>

                  </div>

                  <div class="col-md-4 wow fadeInUp" data-wow-duration="1s">

                    <!-- Message -->
                    <div class="form-group">
                      <textarea class="form-control" name="textarea" id="message-contact-1" rows="5" placeholder="Your Message"></textarea>
                      <label for="message-contact-1">Message</label>
                    </div>
                    <input type="submit" class="btn pull-right" value="Send Message">
                  </div>

                </form>
              </div><!-- / .row -->
            </div><!-- / .container -->
          </div><!-- / .contact-wrapper -->
        </section><!-- / .contact-1 -->



        <!-- ========== Footer ========== -->
        
        <footer class="footer-widgets">
          <div class="container">
            <div class="row section">

              <!-- About Us -->
              <div class="col-md-3 col-sm-6 mb-sm-100">
                <div class="widget about-widget">
                  <h5 class="header-widget">About Us</h5>
                  <p>Lorem ipsum dolor sit amet, eiusmod consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>

                  <ul class="social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                  </ul>
                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

              <!-- Instagram Feed -->
              <div class="col-md-3 col-sm-6 mb-sm-100">
                <div class="widget gallery-widget">
                  <h5 class="header-widget">Instagram Feed</h5>
                  <ul>

                    <li><a href="assets/images/blog-post-1.jpg" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="assets/images/blog-post-2.jpg" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="assets/images/blog-post-3.jpg" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="assets/images/landing-ft-2.jpg" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="assets/images/landing-ft-4.jpg" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="assets/images/landing-ft-1.jpg" class="gallery-widget-lightbox"><img src="http://placehold.it/87x87" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                  </ul>
                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

              <!-- Twitter Feed -->
              <div class="col-md-3 col-sm-6 mb-sm-100">
                <div class="widget twitter-widget">
                  <h5 class="header-widget">Twitter Feed</h5>
                  <ul>
                    
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <p>5 Reasons You Should Take a Sabbatical from Creative Work <a href="#">http://enva.to/NTa6F</a> by <a href="#">@envato</a> <span>- AUG 10</span></p>
                    </li>

                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <p>What is the enemy of <a href="#">#creativity</a>? <a href="#">http://enva.to/hVl5G</a>  [VIDEO] <br>by <a href="#">@envato</a> <span>- AUG 5</span></p>
                    </li>

                  </ul>
                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

              <!-- Newsletter -->
              <div class="col-md-3 col-sm-6">
                <div class="widget newsletter-widget">
                  <h5 class="header-widget">Newsletter</h5>
                  
                  <form action="post">
                    <div class="form-group">
                      <input type="email" name="w-newssletter" placeholder="Join our newsletter">
                      <button type="submit"><i class="fa fa-send-o"></i></button>
                    </div>
                  </form>

                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

            </div><!-- / .row -->
          </div><!-- / .container -->


          <!-- Copyright -->
          <div class="copyright">
            <div class="container">
              <div class="row">
                
                <div class="col-sm-6">
                  <small>&copy; 2015 Definity. Made by <a class="no-style-link" href="http://themeforest.net/user/octarinethemes" target="_blank">OctarineThemes</a></small>
                </div>

                <div class="col-sm-6">
                  <small><a href="#page-top" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a></small>
                </div>

              </div><!-- / .row -->
            </div><!-- / .container -->
          </div><!-- / .copyright -->

        </footer><!-- / .footer-widgets -->



        <!-- ========== Scripts ========== -->
        <script src="{{ asset('assets/js/vendor/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/google-fonts.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/jquery.easing.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/jquery.waypoints.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/bootstrap-hover-dropdown.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/smoothscroll.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/jquery.localScroll.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/jquery.scrollTo.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/jquery.stellar.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/jquery.parallax.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/slick.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/jquery.easypiechart.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/countup.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/isotope.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/wow.min.js') }}"></script>

        <!-- Google Maps -->
        <script src="{{ asset('assets/js/gmap.js') }}"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOcd7o0W0r846FC_GoHSK56xeAvP8fV4s"></script>

        <!-- Definity JS -->
        <script src="{{ asset('assets/js/main.js') }}"></script>
    
{% endblock %}